page-home {
  .container {
    margin-top: 30%;
    background: #dfebff;
    border-radius: 6px;
  }
  h4 {
    color: #0028fa;
  }

  .login-box {
    margin-top: 25px;
    padding: 10px 15px;
    width: 80%;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    margin-left: auto;
    margin-right: auto;
  }

  .mat-raised-button {
    background-color: #3f51b5;
    color: white;
  }

}
